/Evis.eLearning.Business/bin
/Evis.eLearning.Business/obj
/Evis.eLearning.Common/bin
/Evis.eLearning.Common/obj
/Evis.eLearning.Data/bin
/Evis.eLearning.Data/obj
/Evis.eLearning.Data.Model/bin
/Evis.eLearning.Data.Model/obj
/Evis.eLearning.Utilities/bin
/Evis.eLearning.Utilities/obj
/Evis.eLearning.Web/bin
/Evis.eLearning.Web/obj
/*.suo
